<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>尚硅谷 ToDo List</title>
    <link href="./stylesheets/reset.css" rel="stylesheet" type="text/css">
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page">

    <div id='notLoginHeader' class="header box">
        <!-- 创建导航条 -->


        <!-- 设置logo -->
        <h1 class="logo">
            <a href="/">TODO List</a>
        </h1>

    </div>


    <div class="main box">
        <div class="box">

            <div class="box_404">
                <div class="img">
                    <img src="./images/404.jpg">
                </div>
                <ul>
                    <li>
                        <div class="text">
                            <a href="/">返回首页</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>