<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>尚硅谷 ToDo List</title>
    <link href="./stylesheets/reset.css" rel="stylesheet" type="text/css">
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page">

    <div id='notLoginHeader' class="header box">
        <!-- 创建导航条 -->
        <ul class="nav">
            <li>
                <a href="/login">登录</a>
            </li>
            <li>
                <a href="/regist">注册</a>
            </li>
        </ul>

        <!-- 设置logo -->
        <h1 class="logo">
            <a href="/">TODO List</a>
        </h1>

    </div>


    <div class="main box">
        <div class="box">
            <div class="box register">

                <h2 class="box">登录</h2>
                <form action="/login" method="post" id="login">
                    <div>
                        <label for="userName">用 户 名：</label>
                        <input type="text" name="username" id="userName" placeholder="请输入用户名" value="<%=errMsg.username %>">
                        <span class="errMsg"><%= errMsg.umErr %></span>
                        <br>
                    </div>
                    <div>
                        <label for="password">密    码：</label>
                        <input type="password" name="password" id="password" placeholder="请输入密码">
                        <span class="errMsg"><%= errMsg.pwdErr %></span>
                        <br>
                    </div>
                    <div>
                        <label for="sumbit"></label>
                        <input type="submit" id="sumbit" class="submit" value="提  交" >  <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
